<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeprecatedInstallers</key>
	<dict>
		<key>10.10.5-14F27</key>
		<array>
			<string>14A299l</string>
			<string>14A329r</string>
			<string>14A361p</string>
			<string>14A379b</string>
			<string>14A238x</string>
			<string>14A314h</string>
			<string>14A343f</string>
			<string>14A379a</string>
			<string>14A389</string>
			<string>14B25</string>
			<string>14C109</string>
			<string>14C2043</string>
			<string>14C2055</string>
			<string>14D131</string>
			<string>14D136</string>
			<string>14D2134</string>
			<string>14E46</string>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>15A178w</string>
			<string>15A263e</string>
			<string>15A282b</string>
			<string>15A284</string>
			<string>15B42</string>
			<string>15C50</string>
			<string>15D21</string>
			<string>15E65</string>
			<string>15F34</string>
			<string>15G1611</string>
		</array>
		<key>10.12.6-16G29</key>
		<array>
			<string>16A323</string>
			<string>16A322</string>
			<string>16A319</string>
			<string>16A320</string>
			<string>16A304a</string>
			<string>16A201w</string>
			<string>16A239m</string>
			<string>16B2657</string>
			<string>16B2659</string>
			<string>16C67</string>
			<string>16C68</string>
			<string>16D32</string>
			<string>16E195</string>
			<string>16F73</string>
			<string>16F2073</string>
			<string>16F2104</string>
			<string>16G1036</string>
			<string>16G1114</string>
			<string>16G1212</string>
			<string>16G1314</string>
			<string>16G1710</string>
			<string>16G1815</string>
			<string>16G1917</string>
			<string>16G1918</string>
			<string>16G2016</string>
		</array>
		<key>10.13.6-17G66</key>
		<array>
			<string>17A306f</string>
			<string>17A291m</string>
			<string>17A291j</string>
			<string>17A264c</string>
			<string>17A315i</string>
			<string>17A330h</string>
			<string>17A344b</string>
			<string>17A352a</string>
			<string>17A358a</string>
			<string>17A360a</string>
			<string>17A362a</string>
			<string>17A365</string>
			<string>17A405</string>
			<string>17B48</string>
			<string>17B1002</string>
			<string>17B1003</string>
			<string>17C88</string>
			<string>17D47</string>
			<string>17E199</string>
			<string>17E202</string>
			<string>17F77</string>
			<string>17G2208</string>
			<string>17G3025</string>
			<string>17G4015</string>
			<string>17G5019</string>
			<string>17G6029</string>
			<string>17G6030</string>
			<string>17G7024</string>
			<string>17G11023</string>
			<string>17G12034</string>
			<string>17G65</string>
		</array>
		<key>10.14.6-18G103</key>
		<array>
			<string>18A293u</string>
			<string>18A314h</string>
			<string>18A326g</string>
			<string>18A336e</string>
			<string>18A347e</string>
			<string>18A353d</string>
			<string>18A365a</string>
			<string>18A371a</string>
			<string>18A377a</string>
			<string>18A384a</string>
			<string>18A389</string>
			<string>18A391</string>
			<string>18B75</string>
			<string>18C54</string>
			<string>18D42</string>
			<string>18E226</string>
			<string>18E227</string>
			<string>18E2034</string>
			<string>18F132</string>
			<string>18F2058</string>
			<string>18G84</string>
			<string>18G87</string>
			<string>18G95</string>
			<string>18G2022</string>
			<string>18G3020</string>
			<string>18G4032</string>
		</array>
		<key>10.15.7-19H15</key>
		<array>
			<string>19A536g</string>
			<string>19A546d</string>
			<string>19A558d</string>
			<string>19A583</string>
			<string>19A602</string>
			<string>19A603</string>
			<string>19B88</string>
			<string>19C57</string>
			<string>19D76</string>
			<string>19E266</string>
			<string>19E287</string>
			<string>19F96</string>
			<string>19F101</string>
			<string>19G73</string>
			<string>19G2021</string>
			<string>19H2</string>
			<string>19H4</string>
		</array>
	</dict>
	<key>DeprecatedOSVersions</key>
	<array>
		<string>10.9</string>
		<string>10.10</string>
		<string>10.11</string>
	</array>
	<key>Profiles</key>
	<dict>
		<key>10.10.5-14F2511</key>
		<array>
		</array>
		<key>10.10.5-14F27</key>
		<array>
		</array>
		<key>10.11.6-15G21013</key>
		<array>
		</array>
		<key>10.11.6-15G31</key>
		<array>
		</array>
		<key>10.12.6-16G2016</key>
		<array>
		</array>
		<key>10.12.6-16G29</key>
		<array>
			<string>SecuritySierra</string>
		</array>
		<key>10.13.6-17G14019</key>
		<array>
		</array>
		<key>10.13.6-17G66</key>
		<array>
			<string>iTunesDeviceSupportHighSierra</string>
			<string>SafariHighSierra</string>
			<string>SecurityHighSierra</string>
			<string>iTunesHighSierra</string>
		</array>
		<key>10.14.6-18G103</key>
		<array>
			<string>SecurityMojave</string>
			<string>SafariMojave</string>
		</array>
		<key>10.14.6-18G6020</key>
		<array>
		</array>
		<key>10.15.7-19H15</key>
		<array>
			<string>SecurityCatalina</string>
			<string>SafariCatalina</string>
			<string>DeviceSupport1Catalina</string>
			<string>DeviceSupport2Catalina</string>
		</array>
	</dict>
	<key>PublicationDate</key>
	<date>2022-02-28T16:17:44Z</date>
	<key>Updates</key>
	<dict>
		<key>DeviceSupport1Catalina</key>
		<dict>
			<key>name</key>
			<string>Device Support Update (CoreTypes.pkg)</string>
			<key>sha1</key>
			<string>1828d6181569a0f7bb06465113f6899f400be0cc</string>
			<key>size</key>
			<integer>186456407</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/60/24/002-15367-A_MA86KNTLQ0/u91qgvohbwkxykwe0u6oj9mlxdfdqt4ai5/CoreTypes.pkg</string>
		</dict>
		<key>DeviceSupport2Catalina</key>
		<dict>
			<key>name</key>
			<string>Device Support Update (MobileDeviceSU2.pkg)</string>
			<key>sha1</key>
			<string>d74eee20c95d9bb8d889be0fa224c6b6a6375a38</string>
			<key>size</key>
			<integer>9157962</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/60/24/002-15367-A_MA86KNTLQ0/u91qgvohbwkxykwe0u6oj9mlxdfdqt4ai5/MobileDeviceSU2.pkg</string>
		</dict>
		<key>SafariCatalina</key>
		<dict>
			<key>name</key>
			<string>Safari 15.3 for Catalina</string>
			<key>sha1</key>
			<string>accce40e53fd7b3be7f82c622021f50fd295664f</string>
			<key>size</key>
			<integer>92659394</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/37/36/002-66034-A_46UFJIIHKN/rm0oq26tnrdrhgeokn8vcfoydrt4zi19an/Safari15.3CatalinaAuto.pkg</string>
		</dict>
		<key>SafariHighSierra</key>
		<dict>
			<key>name</key>
			<string>Safari 13.1.2 for High Sierra</string>
			<key>sha1</key>
			<string>3f35ba9769c91d51050d18eef3d1c71bbdca610b</string>
			<key>size</key>
			<integer>66851148</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/33/34/061-96797-A_PBSVGZX5CC/dt6bdxuqhtv0ck6n0ukx62xry7p6svl9bp/Safari13.1.2HighSierraAuto.pkg</string>
		</dict>
		<key>SafariMojave</key>
		<dict>
			<key>name</key>
			<string>Safari 14.1.2 (re-release) for Mojave</string>
			<key>sha1</key>
			<string>b4f87a81d28ec7f467eb4981d18520f847bdd3f8</string>
			<key>size</key>
			<integer>95639110</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/28/16/071-89247-A_FL3O60MWEW/t9239srrs8ctufwxntefzkmvjhdqzvllb2/Safari14.1.2MojaveAuto.pkg</string>
		</dict>
		<key>SecurityCatalina</key>
		<dict>
			<key>name</key>
			<string>Security Update 2022-001 (Catalina)</string>
			<key>sha1</key>
			<string>bff00d7ae18be414f680080123b769eea84b05c5</string>
			<key>size</key>
			<integer>1515196372</integer>
			<key>url</key>
			<string>https://updates.cdn-apple.com/2022/macos/002-65662-20220207-020EE03D-1CD0-4668-B1B4-BA80116C72A2/SecUpd2022-002CatalinaManual.dmg</string>
		</dict>
		<key>SecurityHighSierra</key>
		<dict>
			<key>name</key>
			<string>Security Update 2020-005 (High Sierra)</string>
			<key>sha1</key>
			<string>ccc73c56dd34fa65cae9af69d114d06d629437ed</string>
			<key>size</key>
			<integer>2115552210</integer>
			<key>url</key>
			<string>https://updates.cdn-apple.com/2020/macos/001-48383-20200924-dfcdb1e6-e5c7-47bf-883c-0808ac829113/SecUpd2020-005HighSierra.dmg</string>
		</dict>
		<key>SecurityMojave</key>
		<dict>
			<key>name</key>
			<string>Security Update 2021-005 (Mojave)</string>
			<key>sha1</key>
			<string>9d13008bfa8cf2b6f524a2db9b58b88d80f07e0a</string>
			<key>size</key>
			<integer>1791756053</integer>
			<key>url</key>
			<string>https://updates.cdn-apple.com/2021/macos/071-44388-20210729-E9ABD965-02E6-4DDB-B671-C9791D4F5006/SecUpd2021-005Mojave.dmg</string>
		</dict>
		<key>SecuritySierra</key>
		<dict>
			<key>name</key>
			<string>Security Update 2019-005 (Sierra)</string>
			<key>sha1</key>
			<string>70633763c64b2115ee85621ab122a6ab7e1cc9aa</string>
			<key>size</key>
			<integer>938102521</integer>
			<key>url</key>
			<string>https://updates.cdn-apple.com/2019/cert/061-41806-20191024-434f1d05-63d4-477f-b70d-d0e716f88e87/SecUpd2019-005Sierra.dmg</string>
		</dict>
		<key>iTunesDeviceSupportHighSierra</key>
		<dict>
			<key>name</key>
			<string>iTunes Device Support Update</string>
			<key>sha1</key>
			<string>4d348fecbcf1b4fd9815ce208f696cf9eebcc73b</string>
			<key>size</key>
			<integer>108344689</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/22/50/041-88833-A_FPTFSMC32I/qeej1aa5si6r7cr6w8d1oapvo29lqlcy5a/MobileDeviceSU.pkg</string>
		</dict>
		<key>iTunesHighSierra</key>
		<dict>
			<key>name</key>
			<string>iTunes 12.8.2</string>
			<key>sha1</key>
			<string>70b4688a34bce93fe89abcf402015c249492be4d</string>
			<key>size</key>
			<integer>286542401</integer>
			<key>url</key>
			<string>https://updates.cdn-apple.com/2019/cert/041-88776-20191023-0597F90B-921F-459B-91CA-34108771225E/iTunes.dmg</string>
		</dict>
	</dict>
</dict>
</plist>
