<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeprecatedInstallers</key>
	<dict>
		<key>10.10.5-14F27</key>
		<array>
			<string>14A299l</string>
			<string>14A329r</string>
			<string>14A361p</string>
			<string>14A379b</string>
			<string>14A238x</string>
			<string>14A314h</string>
			<string>14A343f</string>
			<string>14A379a</string>
			<string>14A389</string>
			<string>14B25</string>
			<string>14C109</string>
			<string>14C2043</string>
			<string>14C2055</string>
			<string>14D131</string>
			<string>14D136</string>
			<string>14D2134</string>
			<string>14E46</string>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>15A178w</string>
			<string>15A263e</string>
			<string>15A282b</string>
			<string>15A284</string>
			<string>15B42</string>
			<string>15C50</string>
			<string>15D21</string>
			<string>15E65</string>
			<string>15F34</string>
			<string>15G1611</string>
		</array>
		<key>10.12.6-16G29</key>
		<array>
			<string>16A323</string>
			<string>16A322</string>
			<string>16A319</string>
			<string>16A320</string>
			<string>16A304a</string>
			<string>16A201w</string>
			<string>16A239m</string>
			<string>16B2657</string>
			<string>16B2659</string>
			<string>16C67</string>
			<string>16C68</string>
			<string>16D32</string>
			<string>16E195</string>
			<string>16F73</string>
			<string>16F2073</string>
			<string>16F2104</string>
			<string>16G1036</string>
			<string>16G1114</string>
			<string>16G1212</string>
			<string>16G1314</string>
			<string>16G1710</string>
			<string>16G1815</string>
			<string>16G1917</string>
			<string>16G1918</string>
			<string>16G2016</string>
		</array>
		<key>10.13.6-17G65</key>
		<array>
			<string>17A306f</string>
			<string>17A291m</string>
			<string>17A291j</string>
			<string>17A264c</string>
			<string>17A315i</string>
			<string>17A330h</string>
			<string>17A344b</string>
			<string>17A352a</string>
			<string>17A358a</string>
			<string>17A360a</string>
			<string>17A362a</string>
			<string>17A365</string>
			<string>17A405</string>
			<string>17B48</string>
			<string>17B1002</string>
			<string>17B1003</string>
			<string>17C88</string>
			<string>17D47</string>
			<string>17E199</string>
			<string>17E202</string>
			<string>17F77</string>
			<string>17G2208</string>
			<string>17G3025</string>
			<string>17G4015</string>
			<string>17G5019</string>
			<string>17G6029</string>
			<string>17G6030</string>
			<string>17G7024</string>
		</array>
		<key>10.14.6-18G103</key>
		<array>
			<string>18A293u</string>
			<string>18A314h</string>
			<string>18A326g</string>
			<string>18A336e</string>
			<string>18A347e</string>
			<string>18A353d</string>
			<string>18A365a</string>
			<string>18A371a</string>
			<string>18A377a</string>
			<string>18A384a</string>
			<string>18A389</string>
			<string>18A391</string>
			<string>18B75</string>
			<string>18C54</string>
			<string>18D42</string>
			<string>18E226</string>
			<string>18E227</string>
			<string>18E2034</string>
			<string>18F132</string>
			<string>18F2058</string>
			<string>18G84</string>
			<string>18G87</string>
			<string>18G95</string>
		</array>
		<key>10.15.1-19B88</key>
		<array>
			<string>19A536g</string>
			<string>19A546d</string>
			<string>19A558d</string>
			<string>19A583</string>
			<string>19A602</string>
			<string>19A603</string>
		</array>
	</dict>
	<key>DeprecatedOSVersions</key>
	<array>
		<string>10.9</string>
		<string>10.10</string>
		<string>10.11</string>
	</array>
	<key>Profiles</key>
	<dict>
		<key>10.10.5-14F2511</key>
		<array>
		</array>
		<key>10.10.5-14F27</key>
		<array>
		</array>
		<key>10.11.6-15G21013</key>
		<array>
		</array>
		<key>10.11.6-15G31</key>
		<array>
		</array>
		<key>10.12.6-16G2016</key>
		<array>
		</array>
		<key>10.12.6-16G29</key>
		<array>
			<string>SecuritySierra</string>
		</array>
		<key>10.13.6-17G65</key>
		<array>
			<string>SecurityHighSierra</string>
			<string>iTunesHighSierra</string>
		</array>
		<key>10.13.6-17G7024</key>
		<array>
		</array>
		<key>10.14.6-18G103</key>
		<array>
			<string>SafariMojave</string>
		</array>
		<key>10.15.1-19B88</key>
		<array>
		</array>
	</dict>
	<key>PublicationDate</key>
	<date>2019-10-30T16:08:08Z</date>
	<key>Updates</key>
	<dict>
		<key>SafariMojave</key>
		<dict>
			<key>name</key>
			<string>Safari 13.0.2 for Mojave</string>
			<key>sha1</key>
			<string>7dded103f91405fb9762b99d9be7f9e6e9cfc903</string>
			<key>size</key>
			<integer>68882748</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/26/11/061-32986-A_D9XJ6KU7U7/84x12rq4ht7wvi4wwo16y6asq95iyw3kva/Safari13.0.2MojaveAuto.pkg</string>
		</dict>
		<key>SecurityHighSierra</key>
		<dict>
			<key>name</key>
			<string>Security Update 2019-004 (High Sierra)</string>
			<key>sha1</key>
			<string>84d7a23dfbc9d4ac2232a6cc36813047ed98cf4f</string>
			<key>size</key>
			<integer>1896069285</integer>
			<key>url</key>
			<string>https://updates.cdn-apple.com/2019/macos/041-93820-20190729-96cd66e6-a61f-42c7-a586-40a6b70e6ecd/SecUpd2019-004HighSierra.dmg</string>
		</dict>
		<key>SecuritySierra</key>
		<dict>
			<key>name</key>
			<string>Security Update 2019-004 (Sierra)</string>
			<key>sha1</key>
			<string>4b4ff0b5e21710a9612f175d53d3049912bfebe0</string>
			<key>size</key>
			<integer>927685553</integer>
			<key>url</key>
			<string>https://updates.cdn-apple.com/2019/macos/041-93816-20190729-ecd78564-1628-4e0e-b333-872dec7507e5/SecUpd2019-004Sierra.dmg</string>
		</dict>
		<key>iTunesHighSierra</key>
		<dict>
			<key>name</key>
			<string>iTunes 12.8.2</string>
			<key>sha1</key>
			<string>77095f6373c2a29b146b1011050871c184d3e0e1</string>
			<key>size</key>
			<integer>286555253</integer>
			<key>url</key>
			<string>https://secure-appldnld.apple.com/itunes12/041-30445-20190122-BFF2CE0C-FA9C-11E8-A8BB-9B0D7D00924D/iTunes12.8.2.dmg</string>
		</dict>
	</dict>
</dict>
</plist>
