<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeprecatedInstallers</key>
	<dict>
		<key>10.10.5-14F27</key>
		<array>
			<string>14A299l</string>
			<string>14A329r</string>
			<string>14A361p</string>
			<string>14A379b</string>
			<string>14A238x</string>
			<string>14A314h</string>
			<string>14A343f</string>
			<string>14A379a</string>
			<string>14A389</string>
			<string>14B25</string>
			<string>14C109</string>
			<string>14C2043</string>
			<string>14C2055</string>
			<string>14D131</string>
			<string>14D136</string>
			<string>14D2134</string>
			<string>14E46</string>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>15A178w</string>
			<string>15A263e</string>
			<string>15A282b</string>
			<string>15A284</string>
			<string>15B42</string>
			<string>15C50</string>
			<string>15D21</string>
			<string>15E65</string>
			<string>15F34</string>
		</array>
		<key>10.12.4-16E195</key>
		<array>
			<string>16A323</string>
			<string>16A322</string>
			<string>16A319</string>
			<string>16A320</string>
			<string>16A304a</string>
			<string>16A201w</string>
			<string>16A239m</string>
			<string>16B2657</string>
			<string>16B2659</string>
			<string>16C67</string>
			<string>16C68</string>
			<string>16D32</string>
		</array>
		<key>10.9.5-13F34</key>
		<array>
			<string>13A2093</string>
			<string>13A3017</string>
			<string>13A4023</string>
			<string>13A598</string>
			<string>13A603</string>
			<string>13B3116</string>
			<string>13B4116</string>
			<string>13B42</string>
			<string>13C64</string>
			<string>13D65</string>
			<string>13E28</string>
		</array>
	</dict>
	<key>DeprecatedOSVersions</key>
	<array>
		<string>10.9</string>
	</array>
	<key>Profiles</key>
	<dict>
		<key>10.10.5-14F2315</key>
		<array>
		</array>
		<key>10.10.5-14F27</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>iTunes</string>
			<string>SecurityYo</string>
			<string>SafariYo</string>
		</array>
		<key>10.11.6-15G1421</key>
		<array>
		</array>
		<key>10.11.6-15G31</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>CameraRawElCap</string>
			<string>iTunes</string>
			<string>SecurityElCap</string>
			<string>SafariElCap</string>
		</array>
		<key>10.12.4-16E195</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>iTunes</string>
		</array>
		<key>10.9.5-13F34</key>
		<array>
			<string>RemoteDesktopClient</string>
			<string>SafariMav</string>
			<string>iBooks</string>
			<string>BookKit</string>
			<string>SecurityMav</string>
			<string>iTunes</string>
		</array>
	</dict>
	<key>PublicationDate</key>
	<date>2017-03-28T08:45:06Z</date>
	<key>Updates</key>
	<dict>
		<key>BookKit</key>
		<dict>
			<key>name</key>
			<string>BookKit Update</string>
			<key>sha1</key>
			<string>87700d3df21250be8aafda2d8b63b14b2cc3d1b1</string>
			<key>size</key>
			<integer>78492</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/49/62/031-1878/hfuvnhh956akbythuxg2im9pdnm3c263sf/BookKitDelta.pkg</string>
		</dict>
		<key>CameraRawElCap</key>
		<dict>
			<key>name</key>
			<string>Digital Camera RAW Compatibility Update 6.21</string>
			<key>sha1</key>
			<string>5f8853ad66fa26c84af37e2e057b18a6cde8c74e</string>
			<key>size</key>
			<integer>8171873</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1889/en_US/rawcameraupdate6.dmg</string>
		</dict>
		<key>RemoteDesktopClient</key>
		<dict>
			<key>name</key>
			<string>Remote Desktop Client Update 3.9.2</string>
			<key>sha1</key>
			<string>2ad3b30ca2e15312a421d4383cbe410b9314f9fa</string>
			<key>size</key>
			<integer>8768918</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/51/41/091-00404/yf2kt4gajz3qh788grqeg366vuglw5l3hw/RemoteDesktopClient.pkg</string>
		</dict>
		<key>SafariElCap</key>
		<dict>
			<key>name</key>
			<string>Safari 10.1 for El Capitan</string>
			<key>sha1</key>
			<string>194c29b49559bda3571afb89692e09f4359f6b13</string>
			<key>size</key>
			<integer>73162131</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/14/31/031-98397/uqyupa16qtlpbx551inlbir40bpt1pq3yu/Safari10.1ElCapitan.pkg</string>
		</dict>
		<key>SafariMav</key>
		<dict>
			<key>name</key>
			<string>Safari 9.1.3 for Mavericks</string>
			<key>sha1</key>
			<string>806eb4473db833699957f471c6c4351bc3574e5e</string>
			<key>size</key>
			<integer>63186815</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/47/05/031-75479/4l0mviuw0q0eey0tl79gwl4cillof6yyp0/Safari9.1.3Mavericks.pkg</string>
		</dict>
		<key>SafariYo</key>
		<dict>
			<key>name</key>
			<string>Safari 10.1 for Yosemite</string>
			<key>sha1</key>
			<string>ce887a5ab7d4234e733b404aa0e1c38240a44f66</string>
			<key>size</key>
			<integer>72797578</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/50/60/031-94475/5kj2ecm3p7qrlionzdq4k38xcaczrc9gue/Safari10.1Yosemite.pkg</string>
		</dict>
		<key>SecurityElCap</key>
		<dict>
			<key>name</key>
			<string>Security Update 2017-001 (El Capitan)</string>
			<key>sha1</key>
			<string>e269f9adb5fedaa0cf48ffeb1ae85e9b2582cc59</string>
			<key>size</key>
			<integer>700644770</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1914/en_US/SecUpd2017-001ElCapitan.dmg</string>
		</dict>
		<key>SecurityMav</key>
		<dict>
			<key>name</key>
			<string>Security Update 2016-004 Mavericks</string>
			<key>sha1</key>
			<string>605e326a035387e029b77b1f06dccff5dfaf98c7</string>
			<key>size</key>
			<integer>371240779</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1886/en_US/secupd2016-004mavericks.dmg</string>
		</dict>
		<key>SecurityYo</key>
		<dict>
			<key>name</key>
			<string>Security Update 2017-001 (Yosemite)</string>
			<key>sha1</key>
			<string>b0d9d7dc2b20425f43d821a5ba5387333d9d4912</string>
			<key>size</key>
			<integer>495175082</integer>
			<key>url</key>
			<string>http://support.apple.com/downloads/DL1915/en_US/SecUpd2017-001Yosemite.dmg</string>
		</dict>
		<key>iBooks</key>
		<dict>
			<key>name</key>
			<string>iBooks Update</string>
			<key>sha1</key>
			<string>9b075180c00fe27f4a7471d7b16f80c6ca370e8f</string>
			<key>size</key>
			<integer>14599752</integer>
			<key>url</key>
			<string>http://swcdn.apple.com/content/downloads/49/62/031-1878/hfuvnhh956akbythuxg2im9pdnm3c263sf/iBooksDelta.pkg</string>
		</dict>
		<key>iTunes</key>
		<dict>
			<key>name</key>
			<string>iTunes 12.6</string>
			<key>sha1</key>
			<string>a8e106739cbf6163c823e549c4d899458a525804</string>
			<key>size</key>
			<integer>282249443</integer>
			<key>url</key>
			<string>https://secure-appldnld.apple.com/itunes12/091-03399-20170323-CD3E0A0E-0FC0-11E7-A09A-2B2600A0ED6C/iTunes12.6.dmg</string>
		</dict>
	</dict>
</dict>
</plist>
